.protofilo_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
}
.Protofilo_item {
  background-color: var(--color-bg-variant);
  padding: 1.1rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
  text-align: center;
}
.Protofilo_item:hover {
  background-color: transparent;
  border-color: var(--color-primary-variant);
}
.Protofilo_item-image {
  border-radius: 1.5rem;
  overflow: hidden;
}
.Protofilo_item-image img {
  height: 200px;
}
.Protofilo_item h3 {
  margin: 1.2rem auto 5px;
}
@media screen and (max-width: 1024px) {
  .protofilo_container {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
}
@media screen and (max-width: 600px) {
  .protofilo_container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  .Protofilo_item {
    width: 85%;
    margin: auto;
  }
}
